asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.4
django-appconf==1.0.6
django-compressor==4.5.1
django-cors-headers==4.6.0
django-hide==0.0.4.1
django-minify-html==1.11.0
django-template-obfuscator==0.1.5
django_csp==3.8
djangorestframework==3.15.2
idna==3.10
minify_html==0.15.0
mysqlclient==2.2.6
pillow==11.0.0
pytz==2024.2
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
wheel==0.45.1
whitenoise==6.8.2
