





<div class="modal fade" id="superadmin_upuser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="msg"></div>
                <form id="upuser_frm" autocomplete="off">
                    {% csrf_token %}
                    <span>Changes on account of</span><br>
                    <span class="unames fs-3 fw-bolder" style="text-transform: capitalize;">Username</span>
                    <hr>
                    <div class="mb-3">
                        <label>Category</label>
                        <select class="form-control inputclass text-black usertype" id="usertype" name="usertype">
                            <option value="">- - -</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="DECLARATOR">DECLARATOR</option>
                            <option value="MASTER OPERATOR">MASTER OPERATOR</option>
                            <option value="INCORPORATOR">INCORPORATOR</option>
                            <option value="SUB ADMIN">SUB ADMIN</option>
                            <option value="SUB OPERATOR">SUB OPERATOR</option>
                            <option value="MASTER AGENT">MASTER AGENT</option>
                            <option value="PLAYER">PLAYER</option>AYER">PLAYER</option>
                        </select>
                        <i id="nfusertype" style="font-size:10px;color: red;"></i>
                    </div>
                    <div class="mb-3">
                        <label>Player Status</label>
                        <select class="form-control inputclass acc_stat text-white" id="plstatus" name="plstatus">
                            <option value="">- - -</option>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="INACTIVE">INACTIVE</option>
                            <option value="BANNED">BANNED</option>
                        </select>
                        <i id="nfplstatus" style="font-size:10px;color: red;"></i>
                    </div>
                    <div class="mb-3">
                        <label>Agent Commission(%)</label>
                        <input type="number" step="any" class="form-control inputclass" name="commission" id="commission" onfocus="inputFocuss(this)"/>
                        <i id="nfcommission" style="font-size:15px;color: rgb(221, 140, 140);"></i>
                    </div>
                    <input type="hidden" class="acct_id" name="acct_id" id="acct_id">
                    <input type="hidden" name="commirate" id="commirate" value="0.12"/>
                    <input type="hidden" name="agentid" id="agentid" value="{{user.id}}"/>
                    <input type="hidden" name="usercatpage" id="usercatpage" value="{{page}}"/>
                    <div class="modal-footer">
                        <i id="notifid" style="font-size:12px;color: red;"></i>
                        <button type="button" class="btn btn-outline-danger btn-pill" data-bs-dismiss="modal">Close</button>
                        <button type="submit" for="upuser_frm" class="btn btn-outline-warning btn-pill">
                            <i class="fa fa-spin fa-spinner f-16 upuser" style="display:none;"></i> Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
























<!-- New User Add Modal -->
<div class="modal fade" id="speradduser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="spadaccount_reg" autocomplete="off">
                    {% csrf_token %}
                    {% for i in signup_frm %}
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">{{i.label}}</label>
                        {{i}}
                    </div>
                    {% endfor %}
                    
                    {% for u in user_frm %}
                    <label for="email-name" class="col-form-label">{{ u.label}}</label>
                    <div class="account mb-3">
                        {{u}}
                        
                    </div>
                    {% endfor%}
                    
                </div>
                <div class="adduser_err">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger btn-pill" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-warning btn-pill" id="spadbtn">
                        <i class="fa fa-spin fa-spinner f-16 spuser" style="display:none;"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>









