{% extends 'ugs_app/base.html' %}
{% load static %}
{% block body%}
{% load humanize %}
<div class="data-table-area">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div
                            class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 text-warning">Staking Commissions</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0"> STAKE REWARDS </h4>
                            <div class="page-title-right">
                                <h4 class="text-warning" style="font-weight: 700;">{% load humanize %} {{ user.userwallet.w_stakecom|floatformat:"2"|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0"> REWARDS CLAIMED </h4>
                            <div class="page-title-right">
                                <h4 class="text-warning" style="font-weight: 700;" id="newclaimbal">{% load humanize %} {{ user.userwallet.w_stakecom_claim|floatformat:"2"|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0"> BALANCE </h4>
                            <div class="page-title-right">
                                <h4 class="text-warning" style="font-weight: 700;" id="stakerewardbal">{% load humanize %} {{ newcomsbal|floatformat:"2"|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



             




            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" id="import_raw_table">
                            <table id="selection-datatable" class="table dt-responsive nowrap w-100 ">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Stake Code</th>
                                        <th>commissions</th>
                                        <th>Stake Amount</th>
                                        <th>Stake Type</th>
                                    </tr>
                                </thead>
                                <tbody id="acc_tbl">
                                    {% for stakecomm in stakecomms %}
                                    <tr>
                                        <td>{{ stakecomm.screated }}</td>
                                        <td>{{ stakecomm.sc_code }}</td>
                                        <td><span class="text-success">+ </span>{{ stakecomm.sc_commission|floatformat:"2"|intcomma}}</td>
                                        <td>{{ stakecomm.sc_amount|floatformat:"2"|intcomma}}</td>
                                        <td>
                                            {% if stakecomm.sc_type == '1' %}
                                            <button type="button" class="btn btn-outline-secondary btn-pill btn-sm mb-2 me-2"><small><i class="pe-7s-alarm"></i> SAND CLOCK</small></button>
                                            {% elif stakecomm.sc_type == '2' %}
                                            <button type="button" class="btn btn-outline-warning btn-pill btn-sm mb-2 me-2"><small><i class="pe-7s-alarm"></i> REGULAR CLOCK</small></button>
                                            {% elif stakecomm.sc_type == '3' %}
                                            <button type="button" class="btn btn-outline-danger btn-pill btn-sm mb-2 me-2"><small><i class="pe-7s-alarm"></i> MODERN CLOCK</small></button>
                                            {% elif stakecomm.sc_type == '4' %}
                                            <button type="button" class="btn btn-outline-primary btn-pill btn-sm mb-2 me-2"><small><i class="pe-7s-alarm"></i> TECHNO CLOCK</small></button>
                                            {% elif stakecomm.sc_type == '5' %}
                                            <button type="button" class="btn btn-outline-success btn-pill btn-sm mb-2 me-2"><small><i class="pe-7s-alarm"></i> ROLEX CLOCK</small></button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


