{% extends '../base.html' %}

{% block body %}
{% load humanize %}
<div class="data-table-area">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div
                        class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 text-warning">User Accounts</h4>
                        <div class="page-title-right">
                            <button type="button" class="btn btn-outline-warning btn-pill mb-2 me-2" data-bs-toggle="modal"
                            data-bs-target="#adduser"><i class="icon-profile-male"></i> &nbsp; Add Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="import_raw_table">
                        <table id="selection-datatable" class="table dt-responsive nowrap w-100 ">
                            <thead>
                                <tr>
                                    <th>Date Joined</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>Category</th>
                                    <th>Wallet Points</th>
                                    <th>Comm Rate (%)</th>
                                    <th>Refer By</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in users %}
                                {% if u.useraccount.usertype != 'ADMIN' %}
                                <tr>
                                    <td>{{u.date_joined}}</td>
                                    <td class="text-white fs-4">{{ u.username}}</td>
                                    <td class="text-white fs-4" style="text-transform: capitalize;">{{ u.first_name}}, {{ u.last_name}}</td>
                                    <td>{{ u.useraccount.usertype}}</td>
                                    <td>{{ u.userwallet.w_balance|floatformat:"2"|intcomma}}</td>
                                    <td>{{ u.comrate|floatformat:"2"|intcomma }}%</td>
                                    <td style="text-transform: capitalize;" class="fw-bolder">{{ u.useraccount.user_agent}}</td>
                                    <td>
                                        {% if u.useraccount.status == 'ACTIVE' %}
                                        {% if u.useraccount.user_agent.id == user.id %}
                                        <button type="button" class="btn btn-success btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}">ACTIVE</button>
                                        {% else %}
                                        <button type="button" class="btn btn-outline-success btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}">ACTIVE</button>
                                        {% endif %}
                                        
                                        {% elif u.useraccount.status == 'INACTIVE' %}
                                        {% if u.useraccount.user_agent.id == user.id %}
                                        <button type="button" class="btn btn-warning btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}"> INACTIVE</button>
                                        {% else %}
                                        <button type="button" class="btn btn-outline-warning btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}">INACTIVE</button>
                                        {% endif %}
                        
                        
                                        {% else %}
                                        {% if u.useraccount.user_agent.id == user.id %}
                                        <button type="button" class="btn btn-danger btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}">BANNED</button>
                                        {% else %}
                                        <button type="button" class="btn btn-outline-danger btn-pill btn-sm mb-2 me-2 adactivateuser" acct="{{ u.username}}" accid="{{ u.id}}" comrate="{{ u.userwallet.commission_rate}}" plstat="{{ u.useraccount.usertype}}" userstat="{{ u.useraccount.status}}"  myagent="{{u.useraccount.user_agent.id}}">BANNED</button>
                                        {% endif %}
                                        {% endif %}

                                        
                                        <button type="button" class="btn btn-outline-warning btn-pill btn-sm mb-2 me-2 admupdatepass" accid="{{u.id}}" realpass="{{u.useraccount.relpass}}">UPDATE</button>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
</div>



{% endblock %}